<!DOCTYPE html>
<html>
<head>
   <title>Celtic players Wiki review</title>
   <link rel="stylesheet" href="../static/lib/css/bootstrap.min.css">
   <link rel="stylesheet" href="../static/lib/css/keen-dashboards.css">
   <link rel="stylesheet" href="../static/lib/css/dc.css">
   <link rel="stylesheet" href="../static/css/custom.css">

 </head>
<body class="application">

<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
   <div class="container-fluid">
       <div class="navbar-header">
           <a class="navbar-brand" href="">Celtic Player Dashboard</a>
       </div>
   </div>
</div>


<div  id="outer" class="container-fluid">

   <div class="row">

       <div class="col-sm-12">
           <div class="row">

              <!-- Player Nation Row -->
               <div class="col-sm-12">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Player Nationality
                       </div>
                       <div class="chart-stage">
                           <div id="player-nation-chart"></div>
                       </div>
                   </div>
               </div>

              <!-- Player Position Row -->
               <div class="col-sm-12">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Player Positions
                       </div>
                       <div class="chart-stage">
                           <div id="player-position-chart"></div>
                       </div>
                   </div>
               </div>
               <!-- funding Row -->

             <!-- Player Position Row -->
               <div class="col-sm-12">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Player Career Length
                       </div>
                       <div class="chart-stage">
                           <div id="career-length-chart"></div>
                       </div>
                   </div>
               </div>
               <!-- funding Row -->


               <!-- Time Chart -->
               <div class="col-sm-12">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Goals
                       </div>
                       <div class="chart-stage">
                           <div id="Appearences"></div>
                       </div>
                   </div>
               </div>
               <!-- Time Chart -->

               <!-- Resources -->
               <div class="col-sm-6">
                   <div class="chart-wrapper">
                       <div class="chart-title">
                           Players Appearences
                       </div>
                       <div class="chart-stage">
                           <div id="goals"></div>
                       </div>
                   </div>
               </div>
               <!-- Resources -->






       <!-- Poverty -->
       <div class="col-sm-3">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Scotland Level chart
               </div>
               <div class="chart-stage">
                   <div id="goalspergame"></div>
               </div>
           </div>
       </div>
       <!-- Poverty -->




       <!-- menu select -->
       <div class="col-sm-6">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Number of Appearences
               </div>
               <div class="chart-stage">
                   <div id="appearences"></div>
               </div>
           </div>
       </div>
       <!-- menu select -->

       <!-- Metric 1 -->
       <div class="col-sm-2">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Position Count
               </div>
               <div class="chart-stage" style=" background: #33CC99;
                   position: relative;
                   font-size: 29px;
                   color: white;
                   vertical-align: middle;
                   text-align: center;
                   padding-top: 12px;
                   padding-bottom: 0px;">
                   <div id="#positioncount"></div>   //5
               </div>
           </div>
       </div>
       <!-- Metric 1 -->

       <!-- Metric 2 -->
       <div class="col-sm-2">
           <div class="chart-wrapper">
               <div class="chart-title">
                   Greatest Ever
               </div>
               <div class="chart-stage">
                   <div id="Greatest_Ever_Celt"></div>
               </div>
           </div>
       </div>
       <!-- Metric 2 -->

        </div>

            <div class="col-sm-3">

                <div class="chart-wrapper">

                Total Appearences
               <div id="appearences"></div>
            </div>

        </div>
      </div>


</div>

<hr>
<p class="small text-muted"> Data viz &#9829; from Code Institute</p>

</div>
<script src="./static/lib/js/jquery.min.js"></script>
<script src="./static/lib/js/bootstrap.min.js"></script>
<script src="./static/lib/js/crossfilter.js"></script>
<script src="./static/lib/js/d3.js"></script>
<script src="./static/lib/js/dc.js"></script>
<script src="./static/lib/js/queue.js"></script>

<script src="./static/lib/js/keen.min.js"></script>
<script src='./static/js/graph.js' type='text/javascript'></script>
</body>
</html>